<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Jeremy Keiper</author>
	<description>
			Interface to PCSLabPlus LIMS system, includes a preprocessor for HL7 messages
			coming in as text files and a REST Module pass-through for patient lookup
	</description>
	<activator>org.openmrs.module.pcslabinterface.PcsLabInterfaceActivator</activator>

	<updateURL>https://dev.openmrs.org/modules/download/pcslabinterface/update.rdf</updateURL>
	<!-- /Base Module Properties -->
	
	<require_version>1.8.0</require_version>

	<require_modules>
		<require_module version="1.4.4.2">org.openmrs.module.restmodule</require_module>
	</require_modules>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.pcslabinterface.extension.html.PcsLabInterfaceAdminExt</class>
	</extension>
	<!-- /Extensions -->
	
	
	<!-- AOP -->
	<!-- /AOP -->
	
	
	<!-- Required Privileges -->
	<privilege>
		<name>@MODULE_NAME@</name>
		<description>Allows user to access PCSLabInterface pages/functions</description>
	</privilege>
	<privilege>
		<name>@MODULE_NAME@</name>
		<description>Allows user to add a queue item to database</description>
	</privilege>
	<privilege>
		<name>@MODULE_NAME@</name>
		<description>Allows user to view the queue items</description>
	</privilege>
	<privilege>
		<name>@MODULE_NAME@</name>
		<description>Allows the user to edit the PCSLabInterface queue</description>
	</privilege>
	<privilege>
		<name>@MODULE_NAME@</name>
		<description>Allows the user to delete PCSLabInterface queue items</description>
	</privilege>
	<!-- /Required Privileges -->


	<!-- Required Global Properties -->
	<globalProperty>
		<property>pcslabinterface.queue_dir</property> <!-- Must start with `moduleId.` -->
		<defaultValue>pcslabinterface/queue</defaultValue>
		<description>
			Directory containing the PCSLabInterface queue items. This will contain HL7 text files submitted by
			LIMS.  These items are awaiting processing to be placed in the HL7 queue.
		</description>
	</globalProperty>
	<globalProperty>
		<property>pcslabinterface.queue_archive_dir</property> <!-- Must start with `moduleId.` -->
		<defaultValue>pcslabinterface/archive/%Y/%M</defaultValue>
		<description>
			Directory containing the PCSLabInterface archive items.  This will contain HL7 text files that have
			been submitted by LIMS and then processed sucessfully into the HL7 queue.
			Certain date parameters will be replaced with the current date:
			%Y = four digit year
			%M = two digit month
			%D = two digit date of the month
			%w = week of the year
     		%W = week of the month
		</description>
	</globalProperty>
	
	<!-- /Required Global Properties -->

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
	<servlet>
		<servlet-name>pcsapi</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.PCSRestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pcsjson</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.PCSRestServlet</servlet-class>
	</servlet>
	<!-- #### TEMPORARY ACCESS TO QUEUE PROCESSING SERVLETS (Burke 3/18/2006) #### -->
	<servlet>
		<servlet-name>pcsLabInterfaceQueueProcessor</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.PcsLabInterfaceQueueProcessorServlet</servlet-class>
	</servlet>
	<!-- #### TEMPORARY ACCESS TO QUEUE PROCESSING SERVLETS (Burke 3/18/2006) #### -->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

    <!--
	<mappingFiles>
	</mappingFiles>
	-->
	
</module>
